@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #18181b;
}

.dark {
  --background: #09090b;
  --foreground: #f4f4f5;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.font-gaegu {
  font-family: var(--font-gaegu), cursive;
}

@layer base {
  .prose {
    --tw-prose-body: var(--foreground);
    --tw-prose-headings: var(--foreground);
  }
  .prose pre {
    border-radius: 8px;
    padding: 1.5rem;
    line-height: 1.6;
    font-size: 0.95rem;
    border: 1px solid transparent;
  }
  :root .prose pre {
    background-color: #fafafa !important;
    color: #000 !important;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05);
  }
  .dark .prose pre {
    background-color: #1e1e1e !important;
    color: #e5e7eb !important;
    border: 1px solid #2d2d2d;
  }
  .prose :not(pre) > code {
    background-color: #f8f9fa;
    color: #0ea5e9;
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
    font-weight: 500;
    font-size: 0.85em;
  }

  .dark .prose :not(pre) > code {
    background-color: #2d2d2d;
    color: #fbbf24;
  }
}
