@import "tailwindcss";

@variant dark (&:where(.dark, .dark *));

:root {
  --background: #ffffff;
  --foreground: #18181b;
}

.dark {
  --background: #09090b;
  --foreground: #f4f4f5;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}

.font-gaegu {
  font-family: var(--font-gaegu), cursive;
}
